@import '../../../../styles/imports';

.button {
	display: inline-flex;
	align-items: center;
	align-self: center;
	gap: 0.5rem;
	@include btn-text-unselect;
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	transition: 0.1s;
	border: 1px solid rgba(#424242, 0.2);
	@include hover {
		background-color: rgba(#424242, 0.1);
	}

	p {
		font-size: 1rem;
		font-weight: 600;
		text-transform: capitalize;
		color: $color-primary;
		margin: 0;
		padding: 0;

		.redSpan {
			color: $color-primary;
		}
		.blackSpan {
			color: $color-text;
		}
	}

	img {
		width: 24px;
		object-fit: contain;
	}
}
