@import '../../../styles/imports';

.container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 4rem;
	flex-direction: column;
	align-items: flex-end;
	.items {
		width: 100%;
		margin-bottom: 2rem;
		@include tab {
			max-width: 350px;
			min-width: 300px;
		}

		border-top: 2px solid $color-text;
		padding: 1rem 0;

		.item {
			padding: 0 0.25rem;
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			gap: 4rem;
			justify-content: space-between;

			h6,
			p {
				font-size: 0.9rem;
			}
			p {
				font-weight: 500;
			}
		}
	}
}
