@import '../../../styles/imports';

.change {
	text-align: center;
	margin: 2rem 0 1rem 0;
	font-weight: 600;

	h6 {
		color: $color-primary;
		cursor: pointer;
		@include hover {
			text-decoration-line: underline;
		}
	}
}
